<header>
    <nav style="display: flex; justify-content: space-between; align-items: baseline">
        <h2 style="margin: 0">Ean Jacob Gayban</h2>
        <div>Blog | Projects</div>
    </nav>
    <hr />
    <!--    <nav>-->
    <!--        <div id="directory">-->
    <!--            <a href="/">Home</a>-->
    <!--            <a href="/projects">Projects</a>-->
    <!--            <a href="/reading">Reading</a>-->
    <!--            <a href="">Resume</a>-->
    <!--        </div>-->
    <!--        <div id="socials">-->
    <!--            <a href="https://github.com/quincinia">-->
    <!--                <img src="/images/icons/github-square.svg" alt="GitHub Logo" /></a>-->
    <!--            <a href="https://www.linkedin.com/in/ean-jacob-gayban/">-->
    <!--                <img src="/images/icons/linkedin.svg" alt="LinkedIn Logo" /></a>-->
    <!--            <a href="https://twitter.com/ejacobg">-->
    <!--                <img src="/images/icons/twitter-square.svg" alt="Twitter Logo" /></a>-->
    <!--            <a href="mailto:jacob@ejacobg.com">-->
    <!--                <img src="/images/icons/email.svg" alt="Email Envelope" /></a>-->
    <!--        </div>-->
    <!--    </nav>-->
    <!--    <hr />-->
</header>